<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <div fxLayout="column" class="sub-container">
    <div *ngFor="let error of errorMessages" class="alert">
      <app-alert-box [message]="error" [color]="1"></app-alert-box>
    </div>
    <form [formGroup]="emailForm" (ngSubmit)="send()" fxLayout="column" fxLayoutAlign="center center">
        <h1>Reset Password</h1>
    <mat-form-field class="input">
      <input type="text" matInput placeholder="Email" formControlName="email"/>
      <mat-error *ngIf="emailForm.get('email').invalid">{{getErrors()}}</mat-error>
    </mat-form-field><br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!emailForm.valid">Send Reset Email</button>
    </form>
    <button mat-raised-button color="primary" (click)="disableChanges()">Cancel</button><br>
  </div>
</div>