<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <div class="header">
    <h1>Profile</h1>
  </div>
  <div>
    <table cellpadding="10px">
      <tr>
        <td class="label-data">Name</td>
        <td>:</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td class="label-data">Username</td>
        <td>:</td>
        <td>{{user.username}}</td>
      </tr>
      <tr>
        <td class="label-data">Roll Number</td>
        <td>:</td>
        <td>{{user.roll}}</td>
      </tr>
      <tr>
        <td class="label-data">E-Mail</td>
        <td>:</td>
        <td>{{user.email}}</td>
      </tr>
    </table>
  </div>
  <button mat-flat-button color="primary">Update Details</button>
  <button mat-flat-button color="primary">Change Password</button>
</div>