<mat-card class="card">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div id="parent">
    <iframe [src]="iurl"></iframe>
    <button mat-flat-button color="warn" (click)="openFull()">View</button>
    </div><br>
    Name : &nbsp;{{files.description}}<br>
    Description : &nbsp;{{files.doctype+" "+files.year+" "+files.semester}}<br>
    Uploaded By : &nbsp;{{files.uploader.username}}<br>
    Rating : &nbsp;{{files.rating}}<br>
    <ngb-rating [(rate)]="currentRate" [(max)]="max" (rateChange)="updateRating()"></ngb-rating>
  </div>
</mat-card>