<body>
  <div fxLayout="row" fxLayoutAlign="center center" id="container">
    <div fxLayout="column" fxLayoutAlign="center center" id="content-container">
      <h1>Upload Your File</h1>
      <div id="text-container">
        <mat-form-field class="detail-input">
          <input matInput placeholder="Google Drive Link">
        </mat-form-field><br>
        <mat-form-field class="detail-input">
          <input matInput placeholder="File Name">
        </mat-form-field><br>
        <mat-form-field class="detail-input">
          <input matInput type="password" placeholder="Password">
        </mat-form-field><br>
        <mat-form-field class="detail-input">
          <input matInput type="password" placeholder="Confirm Password">
        </mat-form-field><br><br>
      </div>
      <button mat-flat-button color="primary">Upload</button>
    </div>
  </div>
</body>