<body>
  <div id="container">
    <div id="content-container">
      <form #myform="ngForm" (ngSubmit)="postFile()">
        <div fxLayout="column" fxLayout.lt-lg="column">
          <div class="name">
            <h2>{{file.name}}</h2>
          </div>
          <mat-form-field>
            <mat-label>Select Course</mat-label>
            <select matNativeControl required value="" [(ngModel)]="currcourse" name="first">
              <option>ART102</option>
              <option>CHM101</option>
              <option>CHM102</option>
              <option>ECO101</option>
              <option>ENG124</option>
              <option>ESC101</option>
              <option>LIF101</option>
              <option>MTH101</option>
              <option>MTH102</option>
              <option>PHI143</option>
              <option>PHY101</option>
              <option>PHY102</option>
              <option>PHY103</option>
              <option>PSY152</option>
              <option>SOC173</option>
              <option>TA101</option>
            </select>
          </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

          <mat-form-field>
            <mat-label>Select Year</mat-label>
            <select matNativeControl required value="" [(ngModel)]="year" name="first">
              <option>2010-11</option>
              <option>2011-12</option>
              <option>2012-13</option>
              <option>2013-14</option>
              <option>2014-15</option>
              <option>2015-16</option>
              <option>2016-17</option>
              <option>2017-18</option>
              <option>2018-19</option>
              <option>2019-20</option>
              <option>2020-21</option>
              <option>2021-22</option>
            </select>
          </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

          <mat-form-field>
            <mat-label>Select Semester</mat-label>
            <select matNativeControl required value="" [(ngModel)]="sem" name="first">
              <option>Odd</option>
              <option>Even</option>
              <option>Summer</option>
            </select>
          </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

          <mat-form-field>
            <mat-label>Type of Document</mat-label>
            <select matNativeControl required value="" [(ngModel)]="doctype" name="first" (ngModelChange) = action($event)>
              <option>Quiz</option>
              <option>Midsem</option>
              <option>Endsem</option>
              <option>Assignment</option>
              <option>Lecture Notes</option>
              <option>Class Notes</option>
              <option>Books</option>
              <option>Other</option>
            </select>
          </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

          <mat-form-field>
            <mat-label>Type</mat-label>
            <input [attr.disabled]="isDisable ? '' : null" matInput [placeholder]= "placeholderofinput" class="placeholder" [(ngModel)]="fileName" name="first"/>
          </mat-form-field>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <mat-form-field>
            <mat-label>Type</mat-label>
            <select [attr.disabled]="isDisabled ? '' : null" matNativeControl required value="" [(ngModel)]="filetype" name="first">
              <option>Question Paper</option>
              <option>Solutions</option>
              <option>Question and Solutions</option>
            </select>
          </mat-form-field>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

          <button mat-raised-button color="primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</body>