body {
  padding-top: 10px;
  height: 100%;
  /* background-image: url("../background.jpg"); */
}

button{
  height: 42px;
}

#content-container{
  padding : 10px;
}

.name{
  width: 200px;
  overflow: auto;
  margin-right : 40px;
}

#text-container{
  color: black;
}

@media (max-width: 900px){
  #content-container{
    width: 400px;
  }
}

@media (max-width: 600px){
  #content-container{
    border: none;
    width: 400px;
  }
}