body {
  padding-top: 40px;
  height: 100%;
  /* background-image: url("../background.jpg"); */
}

button{
  height: 42px;
}

#container{
  height: 92%;
}

#content-container{
  background-color: white;
}

#text-container{
  color: black;
}

@media (max-width: 900px){
  #content-container{
    width: 400px;
  }
}

@media (max-width: 600px){
  #content-container{
    border: none;
    width: 400px;
  }
}