.header{
    margin-top: 12%;
    width: 460px;
}

table{
    display: block;
    overflow: auto;
    height: 400px;
}

tr:nth-child(odd){
    background-color: rgb(154, 163, 216);
}

td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;    
}

.del-button{
    margin-left: 250px;
}

#add{
    width: 150px;
}

@media (max-width: 600px){
    #add{
        width: 100px;
    }
    .header{
        width: 300px;
    }
    .del-button{
        margin-left: 130px;
    }
}