<div fxLayout="column" fxLayoutAlign="center center" class="container" *ngIf="user && !uploader">
  <div fxLayout="row" class="header">
    <h1 fxFlex="60">My Courses</h1>
    <div fxFlex=40 fxLayoutAlign="center center" class="add-course">
      <button mat-flat-button color="accent" id="add" (click)="enableUploader()">Add Course</button>
    </div>
  </div>
  <div>
    <table>
      <tr *ngFor="let course of user.courses">
        <td>{{course}} <button mat-button color="warn" class="del-button" (click)="removeCourse(course)">Remove</button></td>
      </tr>
    </table>
  </div>
</div>

<app-add-course [user]='user' *ngIf="uploader" (disableUploader)="disableUploader($event)"></app-add-course>