.container {
    height: 100%;
    padding: 5%;
}

.jumbotron {
    max-width: 500px;
}

.sidenav {
    position: fixed;
}

.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    /* position: fixed; */
    height: 100%;
    width: 20%;
}