<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>Assignments</button>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>Books</button>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>Endsem</button>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>Lectures</button>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>Midsem</button>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>Notes</button>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>Quizes</button>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>Other</button>
  </div>
</div>

<mat-menu #menu1="matMenu">
  <button mat-menu-item>push me</button>
</mat-menu>

<button [matMenuTriggerFor]="menu1">menu</button>