<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <div class="sub-container" fxLayout="column" fxLayoutAlign="center center">
    <div *ngFor="let message of messages">
      <app-alert-box [message]="message" [color]="1"></app-alert-box>
    </div>
    <div *ngFor="let message of notify">
        <app-alert-box [message]="message" [color]="0"></app-alert-box>
    </div>
    <form [formGroup]="passwordForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="updatePassword()">
      <h1>Change Password</h1>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password"/>
        <mat-error *ngIf="passwordForm.get('password').invalid">{{getErrors("password")}}</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm Password" formControlName="confirm" />
        <mat-error *ngIf="passwordForm.get('confirm').invalid">{{getErrors("confirm")}}</mat-error>
      </mat-form-field><br>
      <button mat-flat-button color="primary" type="submit" [disabled]="passwordForm.invalid">Submit</button><br>
    </form>
    <button mat-flat-button color="primary" (click)="disableChange()">Cancel</button>
  </div>
</div>