<div fxLayout="row" fxLayoutAlign="center center" id="container">
  <div fxLayout="column" fxLayoutAlign="center center" id="content-container">
      <h1>Login</h1>
      <div id="text-container">
        <mat-form-field class="detail-input">
          <input matInput placeholder="Username">
        </mat-form-field><br>
        <mat-form-field class="detail-input">
          <input matInput placeholder="Password">
        </mat-form-field><br><br>
      </div>
      <button mat-flat-button color="primary">Login</button>
  </div>
</div>