<div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
  <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
          <a>
            <mat-icon class="icon">input</mat-icon>
            <span  class="label">Login</span>
           </a>
      </li>
      <li>
        <a >
            <mat-icon class="icon">home</mat-icon>
            <span class="label">Home</span>
        </a>
      </li>
      <li>
          <a>
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Dashboard</span>
          </a>
        </li>
      <li>
          <a>
            <mat-icon class="icon">input</mat-icon>
            <span class="label">LogOut</span>
           </a>
      </li>
  </ul>
</div>