<body>
<div fxLayout="row" fxLayoutAlign="center center" class="content">
  <div fxLayout="column" id="details" fxLayoutAlign="center center">
    <input placeholder="Email" class="input"><br> 
    <input type="password" placeholder="Password" class="input"><br>
    <button mat-raised-button color="primary">Login</button><br>
    <div>
      New User?
      <div><br>
      <button mat-raised-button color="primary">Register</button>
    </div><br>
  </div>  
  </div>
  </div>
  <mat-card-title id="extra" fxLayoutAlign="center center" color="primary">AcadBox</mat-card-title>
</body>