@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
  padding-top: 40px;
  height: 100%;  
  background-color: lightslategray;
  background-image: url("https://images.wallpaperscraft.com/image/books_vintage_paper_cards_notebook_retro_74362_1920x1080.jpg");
}
/* button{
  color:white;
  background-color: purple;
} */

#details{
  border: 0.02px solid black;
  padding-top: 2%;  
  background-color: white;
  width : 50%;
  height : 90%;
  /* bottom: 30%; */
}

#extra{
  top : 90%;
  height : 10% ;
  /* background-color: black; */
  color:black;
  width: 100%;
}

.input{
  width: 90%;
}

@media (max-width: 900px){
  .content{
    width: 700px;
  }
}

@media (max-width: 600px){
  .content{
    width: 700px;
  }
}
