@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
  padding-top: 40px;
  height: 100%;  
  /* background-color: lightslategray; */
  /* background-image: url("https://images.wallpaperscraft.com/image/books_vintage_paper_cards_notebook_retro_74362_1920x1080.jpg"); */
}

#details{
  border: 0.01px solid black;
  border-radius: 12px; 
  padding-top: 2%;  
  height : 90%;
  color:black;
  /* background-color: rgba(0, 0, 0, 0.35); */
}

#extra{
  top : 90%;
  height : 10% ;
  color:black;
  width: 100%;
}

.input{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(220, 194, 245);
  border-radius: 8px;
}

.detail-input{
  width: 100%;
}

a:link {
  color:black;
  font-size: 100%;
  text-decoration: none;
}

.forgotpw {
  font-size: 80%;
}

.create {
  font-size:100%;
  color: blue;
}