<!-- <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
  <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
          <a>
            <mat-icon class="icon">input</mat-icon>
            <span  class="label">Login</span>
           </a>
      </li>
      <li>
        <a >
            <mat-icon class="icon">home</mat-icon>
            <span class="label">Home</span>
        </a>
      </li>
      <li>
          <a>
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Dashboard</span>
          </a>
        </li>
      <li>
          <a>
            <mat-icon class="icon">input</mat-icon>
            <span class="label">LogOut</span>
           </a>
      </li>
  </ul>
</div> -->
<body>
<div fxLayout="row" fxLayoutAlign="center center" class="content">
  <div fxLayout="column" id="details" fxLayoutAlign="center center">
  <mat-form-field class="input">
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field class="input">
      <input matInput type="password" placeholder="Password">
    </mat-form-field><br>
    <button mat-button>Login</button><br>
    <div>
      New User?
      <div>
      <button mat-button>Register</button>
    </div><br>
  </div>
  </div>
  </div>
</body>