<ng-template #loading>
  <div fxLayout fxLayoutAlign="center center" id="loader">
    <img src="../../assets/transparent-background-loading-original.gif"/>
  </div>
</ng-template>

<mat-sidenav-container class="sidenav-container" *ngIf="userDataService.userDocument$ | async; else loading">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [ngClass]="{'hidden' : (isHandset$ | async) === false}">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Course Material</a>
      <a mat-list-item href="#">{{loggedIn ? "My Box" : "About Us"}}</a>
      <a mat-list-item (click)="upload()">Upload Material</a>
      <a mat-list-item (click)="profile()">{{user.username=='Guest' ? 'Profile' : user.username}}</a>
      <a mat-list-item (click)="loggedIn ? logout() : login()">{{loggedIn ? "Logout" : "Login"}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>AcadBox</span>
      <button routerLink="/dashboard" mat-button [ngClass]="{'hidden' : (isHandset$ | async) === true}">Course Material</button>
      <span class="spacer"></span>
      <button mat-button [ngClass]="{'hidden' : (isHandset$ | async) === true}" (click)="customPage()">{{loggedIn ? "My Box" : "About Us"}}</button>
      <button mat-flat-button color="accent" [ngClass]="{'hidden' : (isHandset$ | async) === true}" (click)="upload()">Upload Material</button>
      <button mat-button [ngClass]="{'hidden' : (isHandset$ | async) === true}" (click)="profile()">{{user.username=='Guest' ? 'Profile' : user.username}}</button>
      <button mat-button [ngClass]="{'hidden' : (isHandset$ | async) === true}" (click)="loggedIn ? logout() : login()">{{loggedIn ? "Logout" : "Login"}}</button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
