<div fxLayout fxLayout.lt-lg="column" class="main-container" *ngIf="userData">
    <div fxFlex=50 fxFlex.lt-lg=60 fxFlex.lt-md=60 fxFlex.lt-sm=100 class="container">
        <app-user-details [user]="userData" *ngIf="!changeDetails && !changePassword" (detailsUp)="toggleChangeDetails($event)" (passwordUp)="toggleChangePassword($event)"></app-user-details>
        <app-update-details [user]="userData" *ngIf="changeDetails" (detailsDown)="toggleChangeDetails($event)"></app-update-details>
        <app-change-password *ngIf="changePassword" (passwordDown)="toggleChangePassword($event)"></app-change-password>
    </div>
    <div class="vr" [fxHide.lt-lg]="true">&nbsp;</div>
    <div [fxHide.gt-sm]="true">&nbsp;</div>
    <div fxFlex=50 fxFlex.lt-lg=60 fxFlex.lt-md=60 fxFlex.lt-sm=100 class="container">
        <app-user-course-list [user]="userData"></app-user-course-list>
    </div>
</div>