<body>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div fxFlex="40">
    <mat-form-field>
      <input matInput placeholder="First Name">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Last Name">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field><br>
    <mat-form-field>
        <input matInput type="password" placeholder="Password">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm Password">
      </mat-form-field><br>
      <button mat-button>Register</button>
    </div>
  <div fxFlex="60">
    <img src="https://pbs.twimg.com/media/BOdrc3cCcAA5ka8.jpg:large">
  </div>
  </div>
  </body>